<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plx.admin_system.mapper.CommonMapper">
    <resultMap id="menuMao" type="com.plx.admin_system.entity.views.Menu">
        <result column="menu_id" property="menuId"></result>
        <result column="menu_name" property="menuName"></result>
        <result column="menu_icon" property="menuIcon"></result>
        <result column="parent_menu_id" property="parentMenuId"></result>
    </resultMap>
    <select id="getAdminMenuView" resultMap="menuMao">
        select * from admin_menu;
    </select>
</mapper>
